* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  height: 100vh;
  gap: 1rem;
}

.market__form {
  display: flex;
  align-items: start;
}

.form__btn {
  height: 30px;
}

.error-text {
  color: #d80404;
}

.market__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
