* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  height: 100vh;
  gap: 1rem;
}

.market__form {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.form-field,
.form-group {
  width: 100%;
}

.form-field--image {
  display: none;
}

.form__btn {
  height: 30px;
}

.error-text {
  margin-bottom: 0;
  color: #d80404;
}

.market-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.market-product {
  width: 400px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.market__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
